.mapMain {
    background-color: rgb(85, 114, 104);
    @apply flex justify-end items-center w-2/3 p-[0] m-[0] border-2;
}

.mapMain svg {
    @apply w-full h-auto block;
}

path{
    stroke: black;
    stroke-width: 0.25px;
}

.country:hover{
    filter: brightness(125%);
    transition: 0.2s;
}