.sidePanelMain{
    @apply flex flex-col items-center border-2 border-l-0 bg-[cornsilk] w-[35vh] overflow-y-auto;
    height: var(--map-height);
}

.sidePanelYear{
    font-size: xx-large;
    font-weight: bolder;
}

.countryPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.countryName{
    text-align: center;
    font-size: large;
}

.countryFlag{
    width: 25vh;
}

.panelLabel{
    font-size: large;
    font-weight: bold;
}

.leaderPortrait{
    height: 22vh;
}

.leaderName{
    @apply flex justify-center text-center
}