@import "tailwindcss";

:root{
  --map-height: 99.8vh;
  overflow-x: hidden;
}

.appMain{
    background-color: rgb(114, 84, 18);
    @apply flex flex-col min-h-screen box-border;
}

.bodyMain{
    @apply flex flex-col min-h-screen m-5
}

.mapAndPanel{
    @apply flex justify-center items-stretch m-[5vh]
}

.timeline{
    @apply flex flex-row justify-around w-screen
}